.agency-filter-select {
    margin: 2.5rem 0;
}
.agency-filter-select select {
    padding: 0.5rem 1rem;
    width: 25%;
}
.agency-area {
    padding-bottom: 5rem;
}
.agency-inner {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
.agency-wrap {
    padding: 1rem;
    background-color: var(--bg__white);
    box-shadow: -2px -2px 7px var(--bg__grey--regular);
}
.agency-thumnail {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.agency-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.agency-link-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.agency-link-wrap a {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    color: var(--text-color__grey--light);
}
.agency-link__findonmaps {
    background-color: #4a89f3;
}
.agency-link__findonmaps:hover {
    background-color: #4076d3;
}

.agency-link__buyfromhere {
    background-color: var(--bg__grey--bold);
}
.agency-link__buyfromhere:hover {
    background-color: var(--bg__black);
}